#!/bin/sh

# python_venv_path="/opt/venv"
# ansible_playbook_path="/opt/playbook/vv.self.playbyook.yml"

VV_ANSIBLE_GALAXY_REQUIREMENTS={{ vv_ansible_galaxy_requirements }}
VV_ANSIBLE_PLAYBOOK_PATH={{ vv_daemon_playbook_remote_path }}
PLAYBOOK_RESTART_SLEEP_TIME=30

cat << EndOfMessage
 __   __   ______     ______     __     __   __   __     __   __     ______    
/\ \ / /  /\  ___\   /\  == \   /\ \   /\ \ / /  /\ \   /\ "-.\ \   /\  __ \   	
\ \ \'/   \ \  __\   \ \  __<   \ \ \  \ \ \'/   \ \ \  \ \ \-.  \  \ \  __ \  
 \ \__|    \ \_____\  \ \_\ \_\  \ \_\  \ \__|    \ \_\  \ \_\\"\_\  \ \_\ \_\ 
  \/_/      \/_____/   \/_/ /_/   \/_/   \/_/      \/_/   \/_/ \/_/   \/_/\/_/ 

(c) 2020 - 2021
author: e
EndOfMessage

# if you want to imagine or put yourself in someoone else's shoe, can you remember how you felt or what life experience was like one mongth ago? 

source {{ vv_opt_path }}/venv/bin/activate

echo "\n[vv-ansible-info]: Notice to user(s):"
echo "============================================== \n"
echo " > software is a fork from vv-dev-bootstrap"
                                                             
echo "\n[vv-ansible-info]: Downloading dependencies:"
echo "============================================== \n"
ansible-galaxy install -r $VV_ANSIBLE_GALAXY_REQUIREMENTS_PATH --force

while :
do
  echo "\n[vv-ansible-info]: Executing ansible playbook:" 
  echo "============================================== \n"
  ansible-playbook -e ansible_python_interpreter=/usr/bin/python3 $VV_ANSIBLE_PLAYBOOK_PATH

  echo "\n[vv-ansible-info]: Executing ansible playbook:" 
  echo "============================================== \n"
  echo "playbook finished . restarting playbook in $PLAYBOOK_RESTART_SLEEP_TIME seconds"
  echo "\n \n \n"
done

